:root {
    --background-color: #1e1e2e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
    width: 100%;
}

body p {
    font-family: 'Poppins', 'Inter';
    color: #f0f0f0;
}

.nav {
    width: 100%;
    padding: 20px 20px 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    position: fixed;
    margin-bottom: 50px;
    z-index: 100;
    align-items: center;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-left: auto;
}

.burger span {
    display: block;
    width: 32px;
    height: 2px;
    border-radius: 2px;
    background-color: #C8917A;
    transition: all 0.3s ease;
}

.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #1e1e2e;
    list-style-type: none;
}

.nav-links.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(30, 30, 46, 0.97);
    list-style-type: none;
    z-index: 99;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.3s;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 20px;
}

.nav-links li a:hover {
    color: #C8917A;
}

.burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #C8917A;
    margin-left: 20px;
}

.left span {
    animation: fade-in 1.3s infinite;
    font-weight: 100;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width: 700px) {
    .burger {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
    }


    .nav {
        padding: 20px 5px;
    }

    .nav .right {
        margin-right: 10px;
    }

    h1 {
        margin-left: 20px;
        font-size: 1.7rem;
    }

    .nav-links li a {
        border-bottom: none;
        padding: 0 10px;
        height: 20px;
        display: flex;
        align-items: center;
        transition: color 0.5s ease;
        position: relative;
        color: rgba(240, 240, 240, 0.8);
        font-weight: 200;
        font-family: 'Poppins', 'Inter';
        font-size: 1rem;
    }

    .nav-links li a:hover {
        color: #f0f0f0;
        background: none;
    }

    .nav-links li a::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 2px;
        bottom: -4px;
        left: 10%;
        background-color: #C8917A;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.3s ease-out;
    }

    .nav-links li a:hover::after {
        transform: scaleX(1);
    }
}

@media (min-width: 1024px) {
    .nav { 
        padding: 25px 5px;
        align-items: center;
        width: 100%;
    }

    .nav .right {
        margin-right: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    .nav-links li a {
        font-size: 1.1rem;
    }
}

.hero {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    flex-direction: column-reverse;
    margin-top: 50px;
    margin-bottom: 50px;
}

hr {
    border: 2px solid rgba(200, 145, 122, 0.9);
    width: 90%;
    margin: 5% auto;
}

.hero h2 {
    color: #f0f0f0;
    font-size: 2.7rem;
    font-family: 'Poppins', 'Inter';
}

h2 span {
    color: #C8917A;
    font-size: 3rem;
}

.hero p {
    line-height: 2.2;
}

.hero div:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 5px solid #2f2f2f;
}

.hero button {
    padding: 15px 20px;
    display: block;
    margin: 10% auto 0;
    background-color: #C8917A;
    font-weight: 600;
    border: none;
    color: #252535;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero a {
    text-decoration: none;
}

.hero button:hover {
    background-color: rgba(200, 145, 122, 0.9);
    cursor: pointer;
}

@media (min-width: 768px) {
    .hero {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-top: 100px;
    }

    .hero img {
        width: 300px;
        height: 300px;
    }
    
    h2 span {
        font-size: 3.5rem;
        display: block;
    }

    .hero p {
        font-size: 1.17rem;
    }

    .hero button {
    padding: 15px 25px;
    font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    .hero {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        margin-bottom: 50px;
        margin-top: 100px;
        gap: 50px;

    }

    h2 span {
        display: block;
    }

    .hero img {
        width: 350px;
        height: 350px;
    }

    .hero p {
        font-size: 18px;
    }
}

.about {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about div:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about div:last-child {
    width: 100%;
}

.about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #C8917A;
}

.about h2 {
    font-family: 'Poppins', 'Inter';
    color: #f0f0f0;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

.about h3 {
    color: #C8917A;
    font-family: 'Poppins', 'Inter';
    text-align: center;
    font-size: 1.3rem;
}

.about p {
    text-align: justify;
    line-height: 1.7;
}

@media (min-width: 768px) {
    .about {
        border: 2px solid #2f2f2f;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .about img {
        width: 250px;
        height: 250px;
    }

    .about div:last-child {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .about {
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        margin-left: auto;
        margin-right: auto;
        gap: 25px;
    }

    .about p {
        text-align: left;
    }

    .about div:first-child {
        width: 40%;
    }

    .about div:last-child {
        width: 60%;
    }

    .about img {
        width: 300px;
        height: 300px;
    }
}

#projects h2 {
    margin-top: 50px;
    color: #f0f0f0;
    font-size: 2rem;
    font-family: 'Poppins', 'Inter'; 
    text-align: center;
    margin-bottom: 15px;   
}

.projects {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.projects img {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 20px;
    object-fit: cover;
    transform-origin: center center;
    transition: transform 0.7s ease-in-out;
    border-radius: 5px;
}

.project {
    width: 95%;
    padding: 1rem;
    margin: 0 auto 5%;
    background: #252535;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    transition: border 0.5s;
    outline: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.project:hover {
    border: 1px solid #C8917A;
}

.project-title h3 {
    font-family: 'Poppins', 'Inter';
    color: #f0f0f0;
    margin: 10px 0;
    font-size: 1.2rem;
}

.project-title p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #C8917A;
    letter-spacing: 1.25px;
    margin-bottom: 10px;
}

.project-title div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.project-title span {
    font-family: "Space Mono", monospace;
    font-size: 0.75rem;
    color: #808080;
    padding: 5px 15px;
    border: 1px solid #808080;
    border-radius: 20px;
    letter-spacing: 2px;
}

#projects button {
    padding: 10px 20px;
    background-color: #C8917A;
    color: #252535;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 7% auto;
    transition: background-color 0.3s;
    font-weight: bold;
}

#projects button:hover {
    background-color: rgba(200, 145, 122, 0.9);
    cursor: pointer;
}

@media (min-width: 700px) {
    .project {
        padding: 1.5rem;
    }

    .projects {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 15px;
        padding: 30px;
        border: 3px solid #2f2f2f;

    }
}

@media (min-width: 1024px) {
    .projects {
        width: 70%;
        margin: 0 auto;
    }

    #projects h2 {
        font-size: 2.3rem;
    }
}

#contact h2 {
    margin-top: 50px;
    color: #f0f0f0;
    font-size: 2rem;
    font-family: 'Poppins', 'Inter'; 
    text-align: center;
    margin-bottom: 15px;     
}

footer {
    width: 100%;
    background-color: #252535;
    margin-top: 10%;
    padding-bottom: 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-container div {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Poppins', 'Inter';
}

.footer-container h2 {
    color: #fff;
}

.footer-container hr {
    width: 90%;
    margin: 2% auto;
    border: 1px solid #C8917A; 
}

.footer-container div:first-child img {
    width: 100px; 
    border-radius: 50%;
    margin-bottom: 10px;
}

.footer-container div:first-child p {
    font-size: 0.85rem;
}

.footer-container .badge {
    color: #fff4cc;
    display: block;
    margin-top: 3%;
    font-size: 0.75rem;
    border: 1px solid #fff4cc;
    border-radius: 20px;
    letter-spacing: 1px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px;
}

.footer-container .badge::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #fff4cc;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    animation: pulse 1.5s infinite;
}
 
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.footer-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-container ul a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
    transition: color 0.8s;
}

.footer-container ul a:hover {
    color: #C8917A;
}

.footer-container a {
    text-decoration: none;
    color: #f0f0f0;
}

.footer-container a img {
    width: 30px;
    transition: filter 0.5s;
}

.footer-container a img:hover {
    filter: brightness(70%);
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

footer hr {
    border: 1px solid #C8917A;
    margin: 5% auto 3%;
}

.last-foot {
    font-family: 'Poppins', 'Inter';
    color: #f0dddd;
    font-size: 0.8rem;
    text-align: center;
}

@media (min-width: 768px) {
    .footer-container {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }   

    .social-links {
        gap: 20px;
    }

    .footer-container div {
        width: 50%;
    }

    .footer-container hr {
        display: none;
    }

    footer {
        margin-top: 7%;
    }

    footer hr {
        margin: 3% auto 1%;
    }
}

@media (min-width: 1024px) {
    footer {
        margin-top: 5%;
        padding-top: 30px;
    }

    .footer-container div {
        width: 33.33%;
    }

    .footer-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

#certificates {
    padding-bottom: 10%;
}

#certificates h2 {
    margin-top: 50px;
    color: #f0f0f0;
    font-size: 2rem;
    font-family: 'Poppins', 'Inter'; 
    text-align: center;
    margin-bottom: 15px;   
}

.certificates {
    width: 100%;
    padding-top: 30px;
    border-radius: 10px;
}

.certificates a {
    text-decoration: none;
}

.certificate {
    width: 90%;
    margin: 0 auto 5%;
    background: #252535;
    border: 1px solid rgba(200, 145, 122, 0.25);
    border-top: 5px solid #C8917A;
    border-radius: 12px;
    padding: 1.5rem;
    transition: border 0.5s;
    outline: none;
    cursor: pointer;
}

.certificate:hover {
    border: 1px solid #C8917A;
}

.certificate img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.certificate h3 {
    font-size: 1.2rem;
    color: #f0f0f0;
    font-family: 'Poppins', 'Inter';
}

.certificate .issuer {
    font-size: 0.9rem;
    color: #C8917A;
    margin: 5px 0 5px 0;
    font-family: "Space Mono", monospace;
}

.certificate .date {
    font-size: 0.8rem;
    color: #808080;
    font-family: "Space Mono", monospace;
}

.more-certificates {
    border: 1px solid #C8917A;
    font-family: "Space Mono", monospace;
    font-size: 0.75rem;
    color: #fff4cc;
    padding: 5px 15px;
    border-radius: 20px;
    display: block;
    width: fit-content;
    margin: 5% auto 0;
    background-color: #1e1e2e;
}

.more-certificates::before {
    content: "";
    background-color: #fff4cc;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    animation: pulse 1.5s infinite;
}

@media (min-width: 768px) {
    .certificate {
        width: 50%;
    }

    #certificates {
        padding-bottom: 5%;
    }
}

@media (min-width: 1024px) {
    .certificate {
        width: 30%;
    }
}

#contact .contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #252535;
    width: 95%;
    margin: 0 auto;
    border: 1px solid rgba(200, 145, 122, 0.25);
    border-radius: 20px;
    padding: 20px;
}

.left-contact h3 {
    font-family: 'Poppins', 'Inter';
    color: #f0f0f0;
    margin-bottom: 10px;
    font-size: 20px;
}

.left-contact p {
    color: rgba(240, 240, 240, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
}

.left-contact .connections {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.connections .logo {
    border: 1px solid rgba(200, 145, 122, 0.25);
    padding: 8px;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(200, 145, 122, 0.1);
}

.connections .logo-info {
    padding-top: 15px;
}

.logo-info h4 {
    color: rgba(240, 240, 240, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 15px;
}

.logo-info p {
    color: #f0f0f0;
}

@media (min-width: 800px) {
    #contact .contacts {
        flex-direction: row;
        gap: 50px;
    }
}

.right-contact input {
    width: 100%;
    margin: 10px 0;
    padding: 15px 10px;
    border: 1px solid rgba(200, 145, 122, 0.25);
    border-radius: 8px;
    background-color: rgba(200, 145, 122, 0.1);
    color: rgba(240, 240, 240, 0.9);
    transition: border 0.5s ease;
}

input::placeholder {
    color: rgba(240, 240, 240, 0.7)
}

.right-contact input:focus {
    outline: none;
    border: 1px solid #C8917A;
}

.right-contact textarea {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    border: 1px solid rgba(200, 145, 122, 0.25);
    background-color: rgba(200, 145, 122, 0.1);
    color: rgba(240, 240, 240, 0.9);
    padding: 10px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: border 0.5s ease;
}

textarea::placeholder {
    color: rgba(240, 240, 240, 0.7);
    font-family: 'Poppins', 'Inter';
}

.right-contact textarea:focus {
    outline: none;
    border: 1px solid #C8917A;
}

.right-contact a {
    width: 100%;
    padding: 10px 0;
    background-color: #C8917A;
    display: block;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #252535;
    font-weight: 800;
    font-family: 'Poppins', 'Inter';
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.right-contact a:hover {
    transform: translateY(-5px);
}

.right-contact a svg {
    vertical-align: middle;
    margin-left: 5px;
    width: 20px;
}

@media (min-width: 1024px) {
    #contact .contacts {
        width: 85%;
    }
}